{% extends 'base.html' %}
{% block content %}
<body class="blogin">
    <div class="mw-500 m-auto text-center">
    {% include 'star.html' %}
            <div>
            <h4>
                <a href="https://m.yeoboya.com/ymti/ymtiShareMain" target="_blank" class="y_mti">
                    내 보석 알아보러 가기
                </a>
            </h4>
            </div>
            <div class="text-center">
                <a href="{% url 'accountapp:create' %}" class="mw-500">
                   <div class="card">
                    운명의 짝을 찾고 계신가요?
                    </div>
                </a>
            </div>

    </div>
{% include 'footer.html' %}
</body>
{% endblock %} 