{% extends 'base.html' %}
{% block content %}

 {% include 'star.html' %}
        <div class="blogin">
                 <a href="https://m.yeoboya.com/ymti/ymtiShareMain" target="_blank" class="ios-15">
                    <div class="wrapper">
                        <span class="blogin_ymti">
                            YMTI 검사하기</span>
                        <div class="circle circle-12"></div>
                        <div class="circle circle-11"></div>
                        <div class="circle circle-10"></div>
                        <div class="circle circle-9"></div>
                        <div class="circle circle-8"></div>
                        <div class="circle circle-7"></div>
                        <div class="circle circle-6"></div>
                        <div class="circle circle-5"></div>
                        <div class="circle circle-4"></div>
                        <div class="circle circle-3"></div>
                        <div class="circle circle-2"></div>
                        <div class="circle circle-1"></div>
                    </div>
                </a>
            <div>
                <a href="{% url 'accountapp:create' %}">
                   <div class="card">
                    나만의 보석 만나러 가기
                    </div>
                </a>
            </div>
        </div>

{% endblock %} 