{% extends 'base.html' %}

{% block content %}
    {% include 'star.html' %}
{% if user.is_authenticated %}
    {% if user == target_user %}
    <div class="detailForm">
        <div>
            <span style="font-size: 43px;">나의 보석</span>
                {#  본인 보석 알려주기!   #}
            <p>
                {% if target_user.mbti_code == 'ENFP' %}
                    <img src="../../static/ymti_jewerly/토파즈.png" class="detail_jewerly">
                    <h3>낙천적인 토파즈</h3>
                {% elif target_user.mbti_code == 'ENFJ' %}
                    <h3>배려감 넘치는 크리스탈</h3>
                    <img src="../../static/ymti_jewerly/크리스탈.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'ENTJ' %}
                    <h3>사랑을 쟁취하는 에메랄드</h3>
                    <img src="../../static/ymti_jewerly/에메랄드.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'ENTP' %}
                    <h3>생각이 톡톡 튀는 페리도트</h3>
                    <img src="../../static/ymti_jewerly/페리도트.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'ESFJ' %}
                    <h3>포용하는 사파이어</h3>
                    <img src="../../static/ymti_jewerly/사파이어.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'ESFP' %}
                    <h3>기쁨을 주는 쿤자이트</h3>
                    <img src="../../static/ymti_jewerly/쿤자이트.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'ESTJ' %}
                    <h3>책임감의 대명사 터키석</h3>
                    <img src="../../static/ymti_jewerly/터키석.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'ESTP' %}
                    <h3>자신감 넘치는 루벨라이트</h3>
                    <img src="../../static/ymti_jewerly/루벨라이트.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'INFJ' %}
                    <h3>신뢰 가득한 가넷</h3>
                    <img src="../../static/ymti_jewerly/가넷.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'INFP' %}
                    <h3>낭만적인 루비</h3>
                    <img src="../../static/ymti_jewerly/루비.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'INTJ' %}
                    <h3>능력있는 진주</h3>
                    <img src="../../static/ymti_jewerly/진주.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'INTP' %}
                    <h3>품격있는 다이아몬드</h3>
                    <img src="../../static/ymti_jewerly/다이아몬드.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'ISFJ' %}
                    <h3>이해심 넘치는 투어멀린</h3>
                    <img src="../../static/ymti_jewerly/투어멀린.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'ISFP' %}
                    <h3>정이 많은 라피스라줄리</h3>
                    <img src="../../static/ymti_jewerly/라피스라줄리.png" class="detail_jewerly">
                {% elif target_user.mbti_code == 'ISTJ' %}
                    <h3>조용히 강렬한 자수정</h3>
                    <img src="../../static/ymti_jewerly/자수정.png" class="detail_jewerly">
                {% elif food == 'ISTP' %}
                    <h3>상대를 존중하는 아쿠아마린</h3>
                    <img src="../../static/ymti_jewerly/아쿠아마린.png" class="detail_jewerly">
                {% endif %}
            </p>
        </div>
    </div>
            <div style="text-align:center; top:88%; left:41%; position:absolute; padding: 13px 10px; color:black;
            font-size: 20px;
                        width:280px; height:50px; border-radius:20px; background-color:rgba(248,248,255,0.58);">
            내짝꿍  만나러가기  &nbsp &nbsp &nbsp
                <a class="heart" href="{% url 'articleapp:recommend' pk=target_user.pk%}">
                </a>
            </div>

    {% else%}
    {% endif %}



{% endif %}
    {% endblock %}