{% extends 'base.html' %}

{% block content %}
    {% include 'star.html' %}
{% if user.is_authenticated %}
    {% if user == target_user %}
    <div class="detailForm">
        <div>
            <h2>
                나의 보석
            </h2>
                {#  본인 보석 알려주기!   #}
            <p>
                {% if target_user.mbti_code == 'ENFP' %}
                    <h4>낙천적인 토파즈</h4>
                    <img src="../../static/ymti_jewerly/토파즈.png" class="jewerly">
                {% elif target_user.mbti_code == 'ENFJ' %}
                    <h4>배려감 넘치는 크리스탈</h4>
                    <img src="../../static/ymti_jewerly/크리스탈.png" class="jewerly">
                {% elif target_user.mbti_code == 'ENTJ' %}
                    <h4>사랑을 쟁취하는 에메랄드</h4>
                    <img src="../../static/ymti_jewerly/에메랄드.png" class="jewerly">
                {% elif target_user.mbti_code == 'ENTP' %}
                    <h4>생각이 톡톡 튀는 페리도트</h4>
                    <img src="../../static/ymti_jewerly/페리도트.png" class="jewerly">
                {% elif target_user.mbti_code == 'ESFJ' %}
                    <h4>포용하는 사파이어</h4>
                    <img src="../../static/ymti_jewerly/사파이어.png" class="jewerly">
                {% elif target_user.mbti_code == 'ESFP' %}
                    <h4>기쁨을 주는 쿤자이트</h4>
                    <img src="../../static/ymti_jewerly/쿤자이트.png" class="jewerly">
                {% elif target_user.mbti_code == 'ESTJ' %}
                    <h4>책임감의 대명사 터키석</h4>
                    <img src="../../static/ymti_jewerly/터키석.png" class="jewerly">
                {% elif target_user.mbti_code == 'ESTP' %}
                    <h4>자신감 넘치는 루벨라이트</h4>
                    <img src="../../static/ymti_jewerly/루벨라이트.png" class="jewerly">
                {% elif target_user.mbti_code == 'INFJ' %}
                    <h4>신뢰 가득한 가넷</h4>
                    <img src="../../static/ymti_jewerly/가넷.png" class="jewerly">
                {% elif target_user.mbti_code == 'INFP' %}
                    <h4>낭만적인 루비</h4>
                    <img src="../../static/ymti_jewerly/루비.png" class="jewerly">
                {% elif target_user.mbti_code == 'INTJ' %}
                    <h4>능력있는 진주</h4>
                    <img src="../../static/ymti_jewerly/진주.png" class="jewerly">
                {% elif target_user.mbti_code == 'INTP' %}
                    <h4>품격있는 다이아몬드</h4>
                    <img src="../../static/ymti_jewerly/다이아몬드.png" class="jewerly">
                {% elif target_user.mbti_code == 'ISFJ' %}
                    <h4>이해심 넘치는 투어멀린</h4>
                    <img src="../../static/ymti_jewerly/투어멀린.png" class="jewerly">
                {% elif target_user.mbti_code == 'ISFP' %}
                    <h4>정이 많은 라피스라줄리</h4>
                    <img src="../../static/ymti_jewerly/라피스라줄리.png" class="jewerly">
                {% elif target_user.mbti_code == 'ISTJ' %}
                    <h4>조용히 강렬한 자수정</h4>
                    <img src="../../static/ymti_jewerly/자수정.png" class="jewerly">
                {% elif food == 'ISTP' %}
                    <h4>상대를 존중하는 아쿠아마린</h4>
                    <img src="../../static/ymti_jewerly/아쿠아마린.png" class="jewerly">
                {% endif %}
            </p>
            <span>
                <a href="{% url 'articleapp:recommend' pk=target_user.pk%}">
                    짝꿍 보석 만나러가기
                </a>
            </span>
    {% else%}
    {% endif %}
        </div>
    </div>

{% endif %}
    {% include 'footer.html' %}
{% endblock %}