
<div class="text-center">
    <div style="margin: 2rem 0; font-size: 20px;">
        {% if user.is_authenticated %}
         <h1>
            <a href="{% url 'articleapp:list' %}">
                여만추
            </a>
        </h1>
        <span class="mw-500">
            당신을 위한
        </span>
        {% else %}
         <h1>
            <a href="{% url 'articleapp:list' %}">
                여만추
            </a>
        </h1>
        <span class="mw-500">
            당신을 위한
        </span>
        {% endif %}

    </div>

    {% if user.is_authenticated %}
        <span class="mx-2">
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                Mypage
            </a>
        </span>
    {% endif %}

</div>