
<body>
</body>
        <style>
            @-webkit-keyframes STAR {
              0% {
                background: powderblue;
                height: 1px;
                width: 1px;
                box-shadow: 0px 0px 10px white;
              }
              10% {
                background: #b0e5de;
              }
              20% {
                background: #b0e5cc;
              }
              30% {
                background: #cce5b0;
              }
              40% {
                background: #dae5b0;
              }
              50% {
                background: #e5ddb0;
                width: 4px;
                height: 4px;
                box-shadow: 0px 0px 10px #d3bd3d;
              }
              100% {
                width: 1px;
                height: 1px;
                background: powderblue;
                box-shadow: 0px 0px 10px white;
              }
            }


            .star {
              height: 1px;
              width: 1px;
              border-radius: 5px;
              box-shadow: 0px 0px 10px white;
              background: powderblue;
              position: absolute;
            }

            .star.pulse
            {
              -webkit-animation: STAR 3s infinite; /* Safari 4+ */
            }

        </style>

        <script type="text/javascript">
        var NUMBER_OF_STARS = 200;

        var addPulse = function( element ){
          var pulseTime = Math.random() * 4000;
          setTimeout( function(  ){
            element.className += ' pulse';
          }, pulseTime );

        }


        for( var jess = 0; jess < NUMBER_OF_STARS; jess++ ) {
            var aStar = document.createElement('div');
                aStar.className='star';

            var windowWidth = window.innerWidth;
            var windowHeight = window.innerHeight;

            var x = Math.random( ) * windowWidth;
            aStar.style.left = 0.98*x + 'px';
            document.body.appendChild( aStar );

            var y = Math.random( ) * windowHeight;
            aStar.style.top = 0.98*y + 'px';

            addPulse( aStar );

        }
        </script>