{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
        {% if user.is_authenticated %}
        {% include 'star.html' %}
        <div class="logo"><b>L<span>o</span><span>v</span>e</b></div>

      {% else %}

    <div class="y_list">
    <a href="{% url 'accountapp:login' %}" class="m-5">
    <h1 class="article_image">MEMBER</h1>
    </a>
    <a href="{% url 'accountapp:blogin' %}" class="m-5 b-5">
    <h1 class="article_image2">YMTI</h1>
    </a>
    </div>

      {% endif %}


</body>
{% endblock %}