{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
{#{% include 'cutyfire.html' %}#}
{% include 'firetest.html' %}
    {% if user.is_authenticated %}
        {% if user == target %}
        <div class="food_recommend">
            {% for sex in target.mem_sex %}
                {% for food in view.food %}
                    {% if sex == 'f' %}
                        {% if food == 'ENFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/토파즈.png" class="jewerly">낙천적인 토파즈</span><br>
                            <img src="../../static/연예인/유연석.jpg" class="jewerly_img"><h2>유연석</h2>
                        {% elif food == 'ENFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/크리스탈.png" class="jewerly">배려감 넘치는 크리스탈</span><br>
                            <img src="../../static/연예인/지민.jpg" class="jewerly_img"><h2>지민</h2>
                        {% elif food == 'ENTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/에메랄드.png" class="jewerly">사랑을 쟁취하는 에메랄드</span><br>
                            <img src="../../static/연예인/곽동연.jpg" class="jewerly_img"><h2>곽동연</h2>
                        {% elif food == 'ENTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/페리도트.png" class="jewerly">생각이 톡톡 튀는 페리도트</span><br>
                            <img src="../../static/연예인/정혁.jpg" class="jewerly_img"><h2>정혁</h2>
                        {% elif food == 'ESFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/사파이어.png" class="jewerly">포용하는 사파이어</span><br>
                            <img src="../../static/연예인/박보검.jpg" class="jewerly_img"><h2> 박보검</h2>
                        {% elif food == 'ESFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/쿤자이트.png" class="jewerly">기쁨을 주는 쿤자이트</span><br>
                            <img src="../../static/연예인/정재현.jpg" class="jewerly_img"><h2>정재현</h2>
                        {% elif food == 'ESTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/터키석.png" class="jewerly">책임감의 대명사 터키석</span><br>
                            <img src="../../static/연예인/김민규.jpg" class="jewerly_img"><h2>김민규</h2>
                        {% elif food == 'ESTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루벨라이트.png" class="jewerly">자신감 넘치는 루벨라이트</span><br>
                            <img src="../../static/연예인/태현.jpg" class="jewerly_img"><h2>태현</h2>
                        {% elif food == 'INFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/가넷.png" class="jewerly">신뢰 가득한 가넷</span><br>
                            <img src="../../static/연예인/남주혁.jpg" class="jewerly_img"><h2>남주혁</h2>
                        {% elif food == 'INFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루비.png" class="jewerly">낭만적인 루비</span><br>
                            <img src="../../static/연예인/조승우.jpg" class="jewerly_img"><h2>조승우</h2>
                        {% elif food == 'INTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/진주.png" class="jewerly">능력있는 진주</span><br>
                            <img src="../../static/연예인/강동원.jpg" class="jewerly_img"><h2>강동원</h2>
                        {% elif food == 'INTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/다이아몬드.png" class="jewerly">품격있는 다이아몬드</span><br>
                            <img src="../../static/연예인/슈가.jpg" class="jewerly_img"><h2>슈가</h2>
                        {% elif food == 'ISFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/투어멀린.png" class="jewerly">이해심 넘치는 투어멀린</span><br>
                            <img src="../../static/연예인/정한.jpg" class="jewerly_img"><h2>정한</h2>
                        {% elif food == 'ISFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/라피스라줄리.png" class="jewerly">정이 많은 라피스라줄리</span><br>
                            <img src="../../static/연예인/유재석.jpg" class="jewerly_img"><h2>유재석</h2>
                        {% elif food == 'ISTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/자수정.png" class="jewerly">조용히 강렬한 자수정</span><br>
                            <img src="../../static/연예인/차태현.jpg" class="jewerly_img"><h2>차태현</h2>
                        {% elif food == 'ISTP' %}
                             <span class="jewerly_ment"><img src="../../static/ymti_jewerly/아쿠아마린.png" class="jewerly">상대를 존중하는 아쿠아마린</span><br>
                            <img src="../../static/연예인/주우재.jpg" class="jewerly_img"><h2>주우재</h2>
                        {% endif %}
                    {% elif sex == 'm' %}
                            {% if food == 'ENFP' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/토파즈.png" class="jewerly">낙천적인 토파즈</span><br>
                                <img src="../../static/연예인/조보아.png" class="jewerly_img"><h2>조보아</h2>
                            {% elif food == 'ENFJ' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/크리스탈.png" class="jewerly">배려감 넘치는 크리스탈</span><br>
                                <img src="../../static/연예인/예린.jpg" class="jewerly_img"><h2>예린</h2>
                            {% elif food == 'ENTJ' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/에메랄드.png" class="jewerly">사랑을 쟁취하는 에메랄드</span><br>
                                <img src="../../static/연예인/티파니.jpg" class="jewerly_img"><h2>티파니</h2>
                            {% elif food == 'ENTP' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/페리도트.png" class="jewerly">생각이 톡톡 튀는 페리도트</span><br>
                                <img src="../../static/연예인/한예슬.jpg" class="jewerly_img"><h2>한예슬</h2>
                            {% elif food == 'ESFJ' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/사파이어.png" class="jewerly">포용하는 사파이어</span><br>
                                <img src="../../static/연예인/효정.jpg" class="jewerly_img"><h2>효정</h2>
                            {% elif food == 'ESFP' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/쿤자이트.png" class="jewerly">기쁨을 주는 쿤자이트</span><br>
                                <img src="../../static/연예인/윤아.jpg" class="jewerly_img"><h2>윤아</h2>
                            {% elif food == 'ESTJ' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/터키석.png" class="jewerly">책임감의 대명사 터키석</span><br>
                                <img src="../../static/연예인/한채영.jpg" class="jewerly_img"><h2>한채영</h2>
                            {% elif food == 'ESTP' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루벨라이트.png" class="jewerly">자신감 넘치는 루벨라이트</span><br>
                                <img src="../../static/연예인/이유비.jpg" class="jewerly_img"><h2>이유비</h2>
                            {% elif food == 'INFJ' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/가넷.png" class="jewerly">신뢰 가득한 가넷</span><br>
                                <img src="../../static/연예인/태연.jpg" class="jewerly_img"><h2>태연</h2>
                            {% elif food == 'INFP' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루비.png" class="jewerly">낭만적인 루비</span><br>
                                <img src="../../static/연예인/아이유.jpg" class="jewerly_img"><h2>아이유</h2>
                            {% elif food == 'INTJ' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/진주.png" class="jewerly">능력있는 진주</span><br>
                                <img src="../../static/연예인/류진.jpg" class="jewerly_img"><h2>류진</h2>
                            {% elif food == 'INTP' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/다이아몬드.png" class="jewerly">품격있는 다이아몬드</span><br>
                                <img src="../../static/연예인/정은지.jpg" class="jewerly_img"><h2>정은지</h2>
                            {% elif food == 'ISFJ' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/투어멀린.png" class="jewerly">이해심 넘치는 투어멀린</span><br>
                                <img src="../../static/연예인/예지.jpg" class="jewerly_img"><h2>예지</h2>
                            {% elif food == 'ISFP' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/라피스라줄리.png" class="jewerly">정이 많은 라피스라줄리</span><br>
                                <img src="../../static/연예인/이미주.jpg" class="jewerly_img"><h2>이미주</h2>
                            {% elif food == 'ISTJ' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/자수정.png" class="jewerly">조용히 강렬한 자수정</span><br>
                                <img src="../../static/연예인/효연.jpg" class="jewerly_img"><h2>효연</h2>
                            {% elif food == 'ISTP' %}
                                <span class="jewerly_ment"><img src="../../static/ymti_jewerly/아쿠아마린.png" class="jewerly">상대를 존중하는 아쿠아마린</span><br>
                                <img src="../../static/연예인/김연아.jpg" class="jewerly_img"><h2>김연아</h2>
                            {% endif %}
                    {% endif %}
                {% endfor %}
                {% endfor %}
                <hr style="border:solid;"> <a style="font-size: 24px;" href="{% url 'articleapp:yone' pk=target.pk%}">데이트코스 보러가기</a>
        </div>
        <div class="log_recommend">
            {% for sex in target.mem_sex %}
                {% for log in view.log %}
                    {% if sex == 'f' %}
                        {% if log == 'ENFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/토파즈.png" class="jewerly">낙천적인 토파즈</span><br>
                            <img src="../../static/연예인/유연석.jpg" class="jewerly_img"><h2>유연석</h2>
                        {% elif log == 'ENFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/크리스탈.png" class="jewerly">배려감 넘치는 크리스탈</span><br>
                            <img src="../../static/연예인/지민.jpg" class="jewerly_img"><h2>지민</h2>
                        {% elif log == 'ENTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/에메랄드.png" class="jewerly">사랑을 쟁취하는 에메랄드</span><br>
                            <img src="../../static/연예인/곽동연.jpg" class="jewerly_img"><h2>곽동연</h2>
                        {% elif log == 'ENTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/페리도트.png" class="jewerly">생각이 톡톡 튀는 페리도트</span><br>
                            <img src="../../static/연예인/정혁.jpg" class="jewerly_img"><h2>정혁</h2>
                        {% elif log == 'ESFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/사파이어.png" class="jewerly">포용하는 사파이어</span><br>
                            <img src="../../static/연예인/박보검.jpg" class="jewerly_img"><h2> 박보검</h2>
                        {% elif log == 'ESFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/쿤자이트.png" class="jewerly">기쁨을 주는 쿤자이트</span><br>
                            <img src="../../static/연예인/정재현.jpg" class="jewerly_img"><h2>정재현</h2>
                        {% elif log == 'ESTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/터키석.png" class="jewerly">책임감의 대명사 터키석</span><br>
                            <img src="../../static/연예인/김민규.jpg" class="jewerly_img"><h2>김민규</h2>
                        {% elif log == 'ESTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루벨라이트.png" class="jewerly">자신감 넘치는 루벨라이트</span><br>
                            <img src="../../static/연예인/태현.jpg" class="jewerly_img"><h2>태현</h2>
                        {% elif log == 'INFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/가넷.png" class="jewerly">신뢰 가득한 가넷</span><br>
                            <img src="../../static/연예인/남주혁.jpg" class="jewerly_img"><h2>남주혁</h2>
                        {% elif log == 'INFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루비.png" class="jewerly">낭만적인 루비</span><br>
                            <img src="../../static/연예인/조승우.jpg" class="jewerly_img"><h2>조승우</h2>
                        {% elif log == 'INTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/진주.png" class="jewerly">능력있는 진주</span><br>
                            <img src="../../static/연예인/강동원.jpg" class="jewerly_img"><h2>강동원</h2>
                        {% elif log == 'INTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/다이아몬드.png" class="jewerly">품격있는 다이아몬드</span><br>
                            <img src="../../static/연예인/슈가.jpg" class="jewerly_img"><h2>슈가</h2>
                        {% elif log == 'ISFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/투어멀린.png" class="jewerly">이해심 넘치는 투어멀린</span><br>
                            <img src="../../static/연예인/정한.jpg" class="jewerly_img"><h2>정한</h2>
                        {% elif log == 'ISFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/라피스라줄리.png" class="jewerly">정이 많은 라피스라줄리</span><br>
                            <img src="../../static/연예인/유재석.jpg" class="jewerly_img"><h2>유재석</h2>
                        {% elif log == 'ISTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/자수정.png" class="jewerly">조용히 강렬한 자수정</span><br>
                            <img src="../../static/연예인/차태현.jpg" class="jewerly_img"><h2>차태현</h2>
                        {% elif log == 'ISTP' %}
                             <span class="jewerly_ment"><img src="../../static/ymti_jewerly/아쿠아마린.png" class="jewerly">상대를 존중하는 아쿠아마린</span><br>
                            <img src="../../static/연예인/주우재.jpg" class="jewerly_img"><h2>주우재</h2>
                        {% endif %}
                    {% elif sex == 'm' %}
                        {% if log == 'ENFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/토파즈.png" class="jewerly">낙천적인 토파즈</span><br>
                            <img src="../../static/연예인/조보아.png" class="jewerly_img"><h2>조보아</h2>
                        {% elif log == 'ENFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/크리스탈.png" class="jewerly">배려감 넘치는 크리스탈</span><br>
                            <img src="../../static/연예인/예린.jpg" class="jewerly_img"><h2>예린</h2>
                        {% elif log == 'ENTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/에메랄드.png" class="jewerly">사랑을 쟁취하는 에메랄드</span><br>
                            <img src="../../static/연예인/티파니.jpg" class="jewerly_img"><h2>티파니</h2>
                        {% elif log == 'ENTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/페리도트.png" class="jewerly">생각이 톡톡 튀는 페리도트</span><br>
                            <img src="../../static/연예인/한예슬.jpg" class="jewerly_img"><h2>한예슬</h2>
                        {% elif log == 'ESFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/사파이어.png" class="jewerly">포용하는 사파이어</span><br>
                            <img src="../../static/연예인/효정.jpg" class="jewerly_img"><h2>효정</h2>
                        {% elif log == 'ESFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/쿤자이트.png" class="jewerly">기쁨을 주는 쿤자이트</span><br>
                            <img src="../../static/연예인/윤아.jpg" class="jewerly_img"><h2>윤아</h2>
                        {% elif log == 'ESTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/터키석.png" class="jewerly">책임감의 대명사 터키석</span><br>
                            <img src="../../static/연예인/한채영.jpg" class="jewerly_img"><h2>한채영</h2>
                        {% elif log == 'ESTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루벨라이트.png" class="jewerly">자신감 넘치는 루벨라이트</span><br>
                            <img src="../../static/연예인/이유비.jpg" class="jewerly_img"><h2>이유비</h2>
                        {% elif log == 'INFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/가넷.png" class="jewerly">신뢰 가득한 가넷</span><br>
                            <img src="../../static/연예인/태연.jpg" class="jewerly_img"><h2>태연</h2>
                        {% elif log == 'INFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루비.png" class="jewerly">낭만적인 루비</span><br>
                            <img src="../../static/연예인/아이유.jpg" class="jewerly_img"><h2>아이유</h2>
                        {% elif log == 'INTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/진주.png" class="jewerly">능력있는 진주</span><br>
                            <img src="../../static/연예인/류진.jpg" class="jewerly_img"><h2>류진</h2>
                        {% elif log == 'INTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/다이아몬드.png" class="jewerly">품격있는 다이아몬드</span><br>
                            <img src="../../static/연예인/정은지.jpg" class="jewerly_img"><h2>정은지</h2>
                        {% elif log == 'ISFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/투어멀린.png" class="jewerly">이해심 넘치는 투어멀린</span><br>
                            <img src="../../static/연예인/예지.jpg" class="jewerly_img"><h2>예지</h2>
                        {% elif log == 'ISFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/라피스라줄리.png" class="jewerly">정이 많은 라피스라줄리</span><br>
                            <img src="../../static/연예인/이미주.jpg" class="jewerly_img"><h2>이미주</h2>
                        {% elif log == 'ISTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/자수정.png" class="jewerly">조용히 강렬한 자수정</span><br>
                            <img src="../../static/연예인/효연.jpg" class="jewerly_img"><h2>효연</h2>
                        {% elif log == 'ISTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/아쿠아마린.png" class="jewerly">상대를 존중하는 아쿠아마린</span><br>
                            <img src="../../static/연예인/김연아.jpg" class="jewerly_img"><h2>김연아</h2>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% endfor %}
                <hr style="border:solid;"> <a style="font-size: 24px;" href="{% url 'articleapp:ytwo' pk=target.pk%}">데이트코스 보러가기</a>
        </div>
        <div class="ymti_recommend">
            {% for sex in target.mem_sex %}
            {% for ymti in view.ymti_recommend %}
                    {% if sex == 'f' %}
                        {% if ymti == 'ENFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/토파즈.png" class="jewerly">낙천적인 토파즈</span><br>
                            <img src="../../static/연예인/유연석.jpg" class="jewerly_img"><h2>유연석</h2>
                        {% elif ymti == 'ENFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/크리스탈.png" class="jewerly">배려감 넘치는 크리스탈</span><br>
                            <img src="../../static/연예인/지민.jpg" class="jewerly_img"><h2>지민</h2>
                        {% elif ymti == 'ENTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/에메랄드.png" class="jewerly">사랑을 쟁취하는 에메랄드</span><br>
                            <img src="../../static/연예인/곽동연.jpg" class="jewerly_img"><h2>곽동연</h2>
                        {% elif ymti == 'ENTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/페리도트.png" class="jewerly">생각이 톡톡 튀는 페리도트</span><br>
                            <img src="../../static/연예인/정혁.jpg" class="jewerly_img"><h2>정혁</h2>
                        {% elif ymti == 'ESFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/사파이어.png" class="jewerly">포용하는 사파이어</span><br>
                            <img src="../../static/연예인/박보검.jpg" class="jewerly_img"><h2> 박보검</h2>
                        {% elif ymti == 'ESFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/쿤자이트.png" class="jewerly">기쁨을 주는 쿤자이트</span><br>
                            <img src="../../static/연예인/정재현.jpg" class="jewerly_img"><h2>정재현</h2>
                        {% elif ymti == 'ESTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/터키석.png" class="jewerly">책임감의 대명사 터키석</span><br>
                            <img src="../../static/연예인/김민규.jpg" class="jewerly_img"><h2>김민규</h2>
                        {% elif ymti == 'ESTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루벨라이트.png" class="jewerly">자신감 넘치는 루벨라이트</span><br>
                            <img src="../../static/연예인/태현.jpg" class="jewerly_img"><h2>태현</h2>
                        {% elif ymti == 'INFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/가넷.png" class="jewerly">신뢰 가득한 가넷</span><br>
                            <img src="../../static/연예인/남주혁.jpg" class="jewerly_img"><h2>남주혁</h2>
                        {% elif ymti == 'INFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루비.png" class="jewerly">낭만적인 루비</span><br>
                            <img src="../../static/연예인/조승우.jpg" class="jewerly_img"><h2>조승우</h2>
                        {% elif ymti == 'INTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/진주.png" class="jewerly">능력있는 진주</span><br>
                            <img src="../../static/연예인/강동원.jpg" class="jewerly_img"><h2>강동원</h2>
                        {% elif ymti == 'INTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/다이아몬드.png" class="jewerly">품격있는 다이아몬드</span><br>
                            <img src="../../static/연예인/슈가.jpg" class="jewerly_img"><h2>슈가</h2>
                        {% elif ymti == 'ISFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/투어멀린.png" class="jewerly">이해심 넘치는 투어멀린</span><br>
                            <img src="../../static/연예인/정한.jpg" class="jewerly_img"><h2>정한</h2>
                        {% elif ymti == 'ISFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/라피스라줄리.png" class="jewerly">정이 많은 라피스라줄리</span><br>
                            <img src="../../static/연예인/유재석.jpg" class="jewerly_img"><h2>유재석</h2>
                        {% elif ymti == 'ISTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/자수정.png" class="jewerly">조용히 강렬한 자수정</span><br>
                            <img src="../../static/연예인/차태현.jpg" class="jewerly_img"><h2>차태현</h2>
                        {% elif ymti == 'ISTP' %}
                             <span class="jewerly_ment"><img src="../../static/ymti_jewerly/아쿠아마린.png" class="jewerly">상대를 존중하는 아쿠아마린</span><br>
                            <img src="../../static/연예인/주우재.jpg" class="jewerly_img"><h2>주우재</h2>
                        {% endif %}
                    {% elif sex == 'm' %}
                        {% if ymti == 'ENFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/토파즈.png" class="jewerly">낙천적인 토파즈</span><br>
                            <img src="../../static/연예인/조보아.png" class="jewerly_img"><h2>조보아</h2>
                        {% elif ymti == 'ENFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/크리스탈.png" class="jewerly">배려감 넘치는 크리스탈</span><br>
                            <img src="../../static/연예인/예린.jpg" class="jewerly_img"><h2>예린</h2>
                        {% elif ymti == 'ENTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/에메랄드.png" class="jewerly">사랑을 쟁취하는 에메랄드</span><br>
                            <img src="../../static/연예인/티파니.jpg" class="jewerly_img"><h2>티파니</h2>
                        {% elif ymti == 'ENTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/페리도트.png" class="jewerly">생각이 톡톡 튀는 페리도트</span><br>
                            <img src="../../static/연예인/한예슬.jpg" class="jewerly_img"><h2>한예슬</h2>
                        {% elif ymti == 'ESFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/사파이어.png" class="jewerly">포용하는 사파이어</span><br>
                            <img src="../../static/연예인/효정.jpg" class="jewerly_img"><h2>효정</h2>
                        {% elif ymti == 'ESFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/쿤자이트.png" class="jewerly">기쁨을 주는 쿤자이트</span><br>
                            <img src="../../static/연예인/윤아.jpg" class="jewerly_img"><h2>윤아</h2>
                        {% elif ymti == 'ESTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/터키석.png" class="jewerly">책임감의 대명사 터키석</span><br>
                            <img src="../../static/연예인/한채영.jpg" class="jewerly_img"><h2>한채영</h2>
                        {% elif ymti == 'ESTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루벨라이트.png" class="jewerly">자신감 넘치는 루벨라이트</span><br>
                            <img src="../../static/연예인/이유비.jpg" class="jewerly_img"><h2>이유비</h2>
                        {% elif ymti == 'INFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/가넷.png" class="jewerly">신뢰 가득한 가넷</span><br>
                            <img src="../../static/연예인/태연.jpg" class="jewerly_img"><h2>태연</h2>
                        {% elif ymti == 'INFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/루비.png" class="jewerly">낭만적인 루비</span><br>
                            <img src="../../static/연예인/아이유.jpg" class="jewerly_img"><h2>아이유</h2>
                        {% elif ymti == 'INTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/진주.png" class="jewerly">능력있는 진주</span><br>
                            <img src="../../static/연예인/류진.jpg" class="jewerly_img"><h2>류진</h2>
                        {% elif ymti == 'INTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/다이아몬드.png" class="jewerly">품격있는 다이아몬드</span><br>
                            <img src="../../static/연예인/정은지.jpg" class="jewerly_img"><h2>정은지</h2>
                        {% elif ymti == 'ISFJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/투어멀린.png" class="jewerly">이해심 넘치는 투어멀린</span><br>
                            <img src="../../static/연예인/예지.jpg" class="jewerly_img"><h2>예지</h2>
                        {% elif ymti == 'ISFP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/라피스라줄리.png" class="jewerly">정이 많은 라피스라줄리</span><br>
                            <img src="../../static/연예인/이미주.jpg" class="jewerly_img"><h2>이미주</h2>
                        {% elif ymti == 'ISTJ' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/자수정.png" class="jewerly">조용히 강렬한 자수정</span><br>
                            <img src="../../static/연예인/효연.jpg" class="jewerly_img"><h2>효연</h2>
                        {% elif ymti == 'ISTP' %}
                            <span class="jewerly_ment"><img src="../../static/ymti_jewerly/아쿠아마린.png" class="jewerly">상대를 존중하는 아쿠아마린</span><br>
                            <img src="../../static/연예인/김연아.jpg" class="jewerly_img"><h2>김연아</h2>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% endfor %}
            <hr style="border:solid;"> <a style="font-size: 24px;" href="{% url 'articleapp:ythree' pk=target.pk%}">데이트코스 보러가기</a>
        </div>

        {% else %}
            ?
        {% endif %} {# user == target #}
    {% endif %} {# user.is_authenticated #}


</body>
{% endblock %}